body {
   font-size: 28px;
 }
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: purple;
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 li a:hover {
   background-color: grey;
 }
 
 .active {
   background-color: #4CAF50;
 }

body {
    margin: none;
    font-family: Arial;
 }

div span {
   font-size: 30pt;
   color:purple;
   font-style: italic;
   font-weight: bold;
 }
 
 body * {
    box-sizing: border-box;
 }
 


 #Title {
     font-size: xx-large;
     padding: 50px;
     color:purple;
     margin-left: 40%;
     display: inline-block;
     margin-bottom: 30px;
 }

 input {
     width: 100%;
     padding: .375rem .75rem;
     font-size: 1em;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: .25rem;
     margin-top: 25px;
 }

 table {
    width: 100%;
    margin-top: 20px;

 }
 table td, table th  {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
 }

 button {
    font-size: 30px;
 }
 table th:first-child {
    width: 20%;

 }
 table th {
    text-align: left;
 }

 .hide {
    display: none;
 }
 
